# Gradle
.gradle/
build/
*/build/

# Android
*.apk
*.ap_
*.aab
*.aab

# Native libraries
*.so

# Android Studio
.idea
*.iml
local.properties
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.AppleDouble
.LSOverride

# Release keystore (keep local only, but not in git)
release.keystore

# Temporary files
tmp/
temp/
